/*++T A B S*/

.tabs__btns{
}
.tabs__btns:after{
	content:'';
	clear:both;
	display:block;
}
.tabs__btn{
	float:left;
	padding:20px;
	border:1px solid transparent;
	border-bottom:0;
}
.tabs__btn:not(.act){
	cursor:pointer;
}
.tabs__btn.act{
	background:#f5f5f5;
	border-color:#000;
}
.tabs__in{
	min-height:150px;
	margin:-1px 0 0;
	background:#f5f5f5;
	padding:20px;
	border:1px solid #000;
}
.tabs__in:not(.act){
	display:none;
}

/*--T A B S*/